* {
  box-sizing: border-box; }

#bg-img {
  background-color: #444;
  color: #fff;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7; }
  #bg-img#bg-img {
    background: url(./images/coding-academy.jpeg);
    background-attachment: fixed;
    background-size: cover; }
    #bg-img#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 1.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    font-size: 2rem;
    transform: translate3d(0, -100%, 0);
    transition: all 1.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
      .menu-nav.show :hover {
        color: #eece1a;
        font-size: 3rem; }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 1.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding img {
      width: 250px;
      height: 250px;
      margin: auto;
      border-radius: 50%;
      border: solid 3px #eece1a; }

@media all and (max-width: 766px) {
  main#home {
    text-align: center;
    align-items: center;
    height: 100vh; }
    main#home h1 {
      margin-top: 10vh;
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 3rem; }

  ul.menu-nav,
  div.menu-branding {
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 25px; }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding img {
      width: 110px;
      height: 110px; } }
#about-me-page {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #444;
  color: #fff; }
  #about-me-page h1.lg-heading {
    text-align: center; }
  #about-me-page #presentation {
    height: 400px;
    width: 100%; }
    #about-me-page #presentation .bio-container {
      width: 100%;
      display: flex; }
      #about-me-page #presentation .bio-container .about-me-portrait {
        display: grid;
        width: 30%;
        height: auto;
        place-items: center; }
        #about-me-page #presentation .bio-container .about-me-portrait img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: solid 3px #eece1a; }
      #about-me-page #presentation .bio-container #bio {
        width: 60%;
        margin: auto; }
  #about-me-page .container {
    display: grid;
    grid-template-areas: "a b c ";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%; }
    #about-me-page .container .first-job {
      grid-area: a; }
    #about-me-page .container .second-job {
      grid-area: b; }
    #about-me-page .container .third-job {
      grid-area: c; }
    #about-me-page .container h2 {
      color: #eece1a; }
    #about-me-page .container span {
      color: #eece1a;
      font-weight: bold;
      text-decoration: underline #fff; }

@media all and (max-width: 766px) {
  #about-me-page {
    margin-left: 4%;
    margin-right: 4%; }
    #about-me-page #presentation {
      width: 100%;
      height: 450px !important; }
      #about-me-page #presentation h1.lg-heading {
        padding-top: 4%;
        height: 100px;
        font-size: 2rem; }
      #about-me-page #presentation .bio-container {
        width: 100% !important;
        display: block !important; }
        #about-me-page #presentation .bio-container .about-me-portrait {
          display: grid !important;
          margin-right: none !important;
          width: 100% !important;
          height: auto !important;
          place-items: center !important;
          margin-bottom: 15px; }
          #about-me-page #presentation .bio-container .about-me-portrait img {
            width: 150px !important;
            height: 150px !important; }
        #about-me-page #presentation .bio-container #bio {
          width: 100% !important; }
    #about-me-page .container {
      grid-template-areas: "a" "b" "c" !important;
      grid-template-columns: 1fr !important; } }
#my-work-page {
  background-color: #444;
  height: 100vh; }
  #my-work-page h1 {
    margin: 0;
    font-weight: 400; }
    #my-work-page h1.lg-heading {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 40px; }
  #my-work-page #text-secondary {
    color: #eece1a; }
  #my-work-page .projects {
    margin: auto;
    display: grid;
    grid-template-areas: "col-sm col-sm col-sm";
    grid-gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);
    width: 60%; }
    #my-work-page .projects .item {
      width: 100%; }
      #my-work-page .projects .item img {
        width: 100%;
        border: 3px #fff solid; }
        #my-work-page .projects .item img:hover {
          opacity: 0.5;
          border-color: #eece1a;
          transition: all 1.5s ease-out; }
      #my-work-page .projects .item .btn, #my-work-page .projects .item .btn-dark, #my-work-page .projects .item .btn-light {
        display: block;
        border: 0;
        margin-bottom: 0.3rem; }
        #my-work-page .projects .item .btn:hover, #my-work-page .projects .item .btn-dark:hover, #my-work-page .projects .item .btn-light:hover {
          background: #eece1a;
          color: set-text-color(#eece1a); }
        #my-work-page .projects .item .btn-dark {
          background: black;
          color: #fff; }
          #my-work-page .projects .item .btn-dark:hover {
            background: #eece1a;
            color: set-text-color(#eece1a); }
        #my-work-page .projects .item .btn-light {
          background: #c4c4c4;
          color: #333; }
          #my-work-page .projects .item .btn-light:hover {
            background: #eece1a;
            color: set-text-color(#eece1a); }

@media all and (max-width: 766px) {
  #my-work-page {
    background-color: #444;
    height: 100vh; }
    #my-work-page h1.lg-heading {
      font-size: 2.5rem;
      padding-top: 4%; }
    #my-work-page .projects {
      margin: auto;
      display: grid;
      grid-template-areas: "col-sm col-sm";
      grid-gap: 0.7rem;
      grid-template-columns: repeat(2, 1fr);
      width: 80%; } }
#contact-background {
  display: grid;
  place-items: center;
  background: url(.././images/contact-background.jpg) no-repeat;
  background-size: cover;
  height: 100vh; }
  #contact-background form {
    background-color: rgba(15, 13, 13, 0.5);
    margin: auto;
    width: 500px;
    height: 600px; }
    #contact-background form .form-title {
      font-size: 2em;
      line-height: 1.25em;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 2px;
      padding: 0 0 0 30px;
      text-align: center; }
      #contact-background form .form-title #color-form-title {
        color: #eece1a; }
    #contact-background form .contact-me {
      padding: 0 30px; }
      #contact-background form .contact-me #error_message {
        margin-bottom: 20px;
        padding: 0px;
        background: #fe8b8e;
        text-align: center;
        font-size: 14px;
        transition: all 0.5s ease; }
      #contact-background form .contact-me .items {
        width: 100%;
        padding-bottom: 15px; }
        #contact-background form .contact-me .items label {
          display: block;
          font-size: 1em;
          color: #fff;
          padding-bottom: 5px; }
        #contact-background form .contact-me .items .input,
        #contact-background form .contact-me .items .text-area,
        #contact-background form .contact-me .items .email {
          background: transparent;
          border: 0px 0px 1px 0px solid #eece1a;
          width: 100%;
          padding: 8px 10px;
          font-size: 1em;
          border-radius: 3px; }
        #contact-background form .contact-me .items #msg {
          height: 100px;
          resize: none; }
    #contact-background form .btn-form {
      background: #eece1a;
      font-size: 1.25em;
      padding: 10px 0;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      width: 100%;
      cursor: pointer;
      letter-spacing: 2px; }

@media all and (max-width: 766px) {
  #contact-background {
    display: block;
    height: 100%; }
    #contact-background form {
      width: 100%;
      height: 100%;
      background-color: rgba(15, 13, 13, 0.5);
      margin: auto; }
      #contact-background form .form-title {
        height: 80px;
        font-size: 1.5em;
        line-height: 1.25em;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
        padding: 0px; }
        #contact-background form .form-title #color-form-title {
          color: #eece1a; }
      #contact-background form .contact-me {
        padding: 0 30px; }
        #contact-background form .contact-me #error_message {
          margin-bottom: 10px;
          padding: 0px;
          background: #fe8b8e;
          text-align: center;
          font-size: 14px;
          transition: all 0.5s ease; }
        #contact-background form .contact-me .items {
          width: 100%;
          padding-bottom: 15px; }
          #contact-background form .contact-me .items label {
            display: block;
            font-size: 1em;
            color: #fff;
            padding-bottom: 5px; }
          #contact-background form .contact-me .items .input,
          #contact-background form .contact-me .items .text-area,
          #contact-background form .contact-me .items .email {
            background: transparent;
            border: 0px 0px 1px 0px solid #eece1a;
            width: 100%;
            padding: 8px 10px;
            font-size: 1em;
            border-radius: 3px; }
          #contact-background form .contact-me .items #msg {
            height: 100px;
            resize: none; }
      #contact-background form .btn-form {
        background: #eece1a;
        font-size: 1.25em;
        padding: 10px 0;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        letter-spacing: 2px; } }

/*# sourceMappingURL=style.css.map */
